In [1]:
import pandas as pd
import numpy as np
import dimod
from itertools import combinations

%load_ext autoreload
%autoreload 1

%aimport qubo_encoder
from qubo_encoder import qubo_from_data

## QUBO encoder

### Data description
Lorem ipsum ...

### Read spot file

In [2]:
# create empty photo requests dataframe
photo_req_df = pd.DataFrame({'id':      pd.Series(dtype='int'),
                             'value':   pd.Series(dtype='int'),
                             'mono':    pd.Series(dtype='bool'),
                             'options': pd.Series(dtype='object')})

In [3]:
# process photo requests
def request_from_line(line):
    # split line
    l = line.split()

    # get features
    id = int(l[0])
    value = int(l[1])
    mono = False if (l[2] == '1' and int(l[3])>4) else True
    options = [int(o) for o in l[3::2]]

    return list([id, value, mono, options])

In [4]:
# create empty constraints dataframe
constraints_df = pd.DataFrame({'ids':            pd.Series(dtype='object'),
                               'restrictions':   pd.Series(dtype='object')})

In [5]:
# process constraints
def costraint_from_line(line):
    # split line
    l = line.split()

    # get features
    n = int(l[0])
    ids = [int(i) for i in l[1:n+1]]
    restrictions = [[int(l[j]) for j in range(i,i+n)] for i in range(n+1, len(l), n)]

    return list([ids, restrictions])

In [6]:
# read test file
data_dir  = 'data/'
file_name = '8.spot'
with open(data_dir+file_name) as f:
    lines = f.readlines()

# get ids and reqs lengths
lens = [int(l.split()[0]) for l in lines if len(l.split())==1]

# create photo requests dataframe
for i in range(1,lens[0]+1):
    photo_req_df.loc[i-1] = request_from_line(lines[i])

# create constraints dataframe
for i in range(lens[0]+2, lens[0]+lens[1]+2):
    constraints_df.loc[i-(lens[0]+2)] = costraint_from_line(lines[i])

In [7]:
photo_req_df

   id  value   mono    options
0   0      1   True  [1, 2, 3]
1   1      1   True  [1, 2, 3]
2   2      1   True  [1, 2, 3]
3   3      1   True  [1, 2, 3]
4   4      2  False       [13]
5   5      2  False       [13]
6   6      2  False       [13]
7   7      2  False       [13]

In [8]:
constraints_df

      ids              restrictions
0  [1, 0]  [[3, 3], [2, 2], [1, 1]]
1  [2, 0]  [[3, 3], [2, 2], [1, 1]]
2  [3, 0]  [[3, 3], [2, 2], [1, 1]]
3  [5, 4]                [[13, 13]]
4  [5, 6]                [[13, 13]]
5  [2, 1]  [[3, 3], [2, 2], [1, 1]]
6  [3, 1]  [[3, 3], [2, 2], [1, 1]]

### QUBO formulation
QUBO stays for Quadratic Uncostrained _Binary_ Optimization. First of all, we should translate our problem in terms of binary variables. We will consider two possibilities:

__standard__
- _mono_: We can take (1) or not take (0) the photo with each of the three cameras. Three binary variables are needed:
$$
(x_{i0},\, x_{i1},\, x_{i2})
$$
- _stereo_: The stereo photo can only be taken with the cameras $1$ and $3$, so we have only one binary variable:
$$
x_i
$$

Note that, in the case of a mono photo, we have a total of 8 different instantiations of the binary variables when only 3 are feasible ($001,\, 010,\, 100$). We can think about more efficient encodings.

__dense__:
- _mono_: Just two variables could be sufficient:

<center>

|          | $x_{i0}$ | $x_{i1}$ |
|----------|----------|----------|
| no photo | 0        | 0        |
| camera 1 | 0        | 1        |
| camera 2 | 1        | 0        |
| camera 3 | 1        | 1        |

</center>

- _stereo_: As in the previous encoding we consider one variable
$$
x_i
$$

In the latter case we use one less variable with respect to the former, it seems convenient. Despite that, with the _dense_ encoding the costraint formulation requires an auxiliary variable so it is important to carefully understand if there is an actual advantage.

#### Standard encoding

In [24]:
# create empty qubo dataframe
qubo_df = pd.DataFrame({'rank':    pd.Series(dtype='int'),
                        'coeff':   pd.Series(dtype='int'),
                        'indexes': pd.Series(dtype='object')})

In [25]:
# formulate qubo istance from photo request
def qubo_from_request(request, option):
    # get features
    id = request[0]
    value = request[1]
    mono = request[2]
    camera = request[3][option]

    # get qubo
    rank = 1
    coeff = -value # minimize qubo -> maximize value
    indexes = [[id, camera]] # if mono else [id]
    qubo = list([rank, coeff, indexes])

    return qubo

In [26]:
 # formulate qubo instance from constraint
def qubo_from_constraint(constraint, option, coeff):
    # get features
    ids = constraint[0]
    restriction = constraint[1][option]

    # get qubo
    rank = len(ids)
    coeff = coeff
    indexes = [[id, camera] for id, camera in zip(ids, restriction)]
    qubo = list([rank, coeff, indexes])

    return qubo

In [27]:
k = 0

# populate qubo dataframe from photo requests
for i in range(len(photo_req_df)):
    l = len(photo_req_df.loc[i]['options'])
    for j in range(l):
        qubo_df.loc[k+j] = qubo_from_request(photo_req_df.loc[i], j)
    k = k + l

# penalties coefficient
m = -1.1*min(qubo_df['coeff'])                                                                           

# add penalties to avoid taking the same photo multiple times with different cameras
for i in range(len(photo_req_df)): 
    if len(photo_req_df.loc[i]['options'])>1 :
        for j, z in combinations(photo_req_df.loc[i]['options'], 2):
            qubo_df.loc[k] = list([2, m, [[i, photo_req_df.loc[i]['options'][j-1]], [i, photo_req_df.loc[i]['options'][z-1]]]])
            k = k + 1

# populate qubo dataframe from constraints
for i in range(len(constraints_df)):
    l = len(constraints_df.loc[i]['restrictions'])
    for j in range(l):
        qubo_df.loc[k+j] = qubo_from_constraint(constraints_df.loc[i], j, m)
    k = k + l

In [28]:
qubo_df

    rank  coeff             indexes
0      1   -1.0            [[0, 1]]
1      1   -1.0            [[0, 2]]
2      1   -1.0            [[0, 3]]
3      1   -1.0            [[1, 1]]
4      1   -1.0            [[1, 2]]
5      1   -1.0            [[1, 3]]
6      1   -1.0            [[2, 1]]
7      1   -1.0            [[2, 2]]
8      1   -1.0            [[2, 3]]
9      1   -1.0            [[3, 1]]
10     1   -1.0            [[3, 2]]
11     1   -1.0            [[3, 3]]
12     1   -2.0           [[4, 13]]
13     1   -2.0           [[5, 13]]
14     1   -2.0           [[6, 13]]
15     1   -2.0           [[7, 13]]
16     2    2.2    [[0, 1], [0, 2]]
17     2    2.2    [[0, 1], [0, 3]]
18     2    2.2    [[0, 2], [0, 3]]
19     2    2.2    [[1, 1], [1, 2]]
20     2    2.2    [[1, 1], [1, 3]]
21     2    2.2    [[1, 2], [1, 3]]
22     2    2.2    [[2, 1], [2, 2]]
23     2    2.2    [[2, 1], [2, 3]]
24     2    2.2    [[2, 2], [2, 3]]
25     2    2.2    [[3, 1], [3, 2]]
26     2    2.2    [[3, 1], [3, 3]]
27     2    2.2    [[3, 2], [3, 3]]
28     2    2.2    [[1, 3], [0, 3]]
29     2    2.2    [[1, 2], [0, 2]]
30     2    2.2    [[1, 1], [0, 1]]
31     2    2.2    [[2, 3], [0, 3]]
32     2    2.2    [[2, 2], [0, 2]]
33     2    2.2    [[2, 1], [0, 1]]
34     2    2.2    [[3, 3], [0, 3]]
35     2    2.2    [[3, 2], [0, 2]]
36     2    2.2    [[3, 1], [0, 1]]
37     2    2.2  [[5, 13], [4, 13]]
38     2    2.2  [[5, 13], [6, 13]]
39     2    2.2    [[2, 3], [1, 3]]
40     2    2.2    [[2, 2], [1, 2]]
41     2    2.2    [[2, 1], [1, 1]]
42     2    2.2    [[3, 3], [1, 3]]
43     2    2.2    [[3, 2], [1, 2]]
44     2    2.2    [[3, 1], [1, 1]]

In [31]:
"""# group qubo dataframe by indexes TODO: check if it is necessary ( it seems not )
def preprocess_indexes(indexes, join=False):
    # sort if more than one element
    if len(indexes)>1:
        indexes = sorted(indexes, key=lambda x: x[0]+x[1]/10) # hardcoded solution to consider both sublists elements

    # produce string output
    proc_indexes = [str(i[0])+str(i[1]) for i in indexes ]
    return ''.join(proc_indexes) if join else proc_indexes

# group by operation needs string object
qubo_df['gb_indexes'] = qubo_df['indexes'].apply(preprocess_indexes, join=True)
qubo_df_ = qubo_df.groupby(['gb_indexes'], as_index=False, sort=False).agg({'rank': 'first', 'coeff': 'sum', 'indexes': 'first'})#.drop(['gb_indexes'], axis=1)
# recover process indexes for qubo indexing
#qubo_df_['proc_indexes'] = qubo_df_['indexes'].apply(preprocess_indexes, join=False)"""
def preprocess_indexes(indexes, join=False):
    # sort if more than one element
    if len(indexes)>1:
        indexes = sorted(indexes, key=lambda x: x[0]+x[1]/10) # hardcoded solution to consider both sublists elements

    # produce string output
    proc_indexes = [str(i[0])+str(i[1]) for i in indexes ]
    return ''.join(proc_indexes) if join else proc_indexes
    
# produce hash column for dictionary indexing
qubo_df['keys'] = qubo_df['indexes'].apply(preprocess_indexes, join=False)

In [32]:
# produce 1 to one dict between keys of the dataframe and indexes of the qubo matrix
key_to_qubo_dict = {}
for i in range(len(qubo_df)):
    # check if index is a single key
    if len(qubo_df.loc[i]['keys'])==1:
        key_to_qubo_dict[qubo_df.loc[i]['keys'][0]] = i

In [33]:
# populate qubo matrix dictionary
qubo = {}
for i in range(len(qubo_df)):
    # check if index is a single key
    keys = qubo_df.loc[i]['keys']
    if len(keys)==1:
        idx = key_to_qubo_dict[keys[0]]
        # check if index is already in dictionary
        qubo[(idx, idx)] = qubo[(idx, idx)]+qubo_df.loc[i]['coeff'] if (idx, idx) in qubo else qubo_df.loc[i]['coeff']
    else:
        # assume quadratic term, higher order will be treated before 
        idx_0 = key_to_qubo_dict[keys[0]]
        idx_1 = key_to_qubo_dict[keys[1]]
        # check if index is already in dictionary
        qubo[(idx_0, idx_1)] = qubo[(idx_0, idx_1)]+qubo_df.loc[i]['coeff'] if (idx_0, idx_1) in qubo else qubo_df.loc[i]['coeff']

In [34]:
# print qubo matrix
def print_qubo(qubo, key_to_qubo_dict):
    for i in range(len(key_to_qubo_dict)):
        for j in range(len(key_to_qubo_dict)):
            print(qubo[(i, j)], end=' ') if (i,j) in qubo else print(0, end=' ')
        print()

print_qubo(qubo, key_to_qubo_dict)

-1.0 2.2 2.2 2.2 0 0 2.2 0 0 2.2 0 0 0 0 0 0
0 -1.0 2.2 0 2.2 0 0 2.2 0 0 2.2 0 0 0 0 0
0 0 -1.0 0 0 2.2 0 0 2.2 0 0 2.2 0 0 0 0
0 0 0 -1.0 2.2 2.2 2.2 0 0 2.2 0 0 0 0 0 0
0 0 0 0 -1.0 2.2 0 2.2 0 0 2.2 0 0 0 0 0
0 0 0 0 0 -1.0 0 0 2.2 0 0 2.2 0 0 0 0
0 0 0 0 0 0 -1.0 2.2 2.2 0 0 0 0 0 0 0
0 0 0 0 0 0 0 -1.0 2.2 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 -1.0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 -1.0 2.2 2.2 0 0 0 0
0 0 0 0 0 0 0 0 0 0 -1.0 2.2 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 -1.0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 -2.0 2.2 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 -2.0 2.2 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 -2.0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -2.0

#### Dense encoding

In [138]:
# create empty qubo dataframe
qubo_df = pd.DataFrame({'rank':    pd.Series(dtype='int'),
                        'coeff':   pd.Series(dtype='int'),
                        'indexes': pd.Series(dtype='object')})

In [21]:
dense_encoding_dict = {1: [0, 1], 2: [1, 0], 3: [1, 1], 13: [13]}

In [19]:
# produce qubo indexing from single camera request
def index_from_camera(camera, id):
    # retrive encoding information
    enc = dense_encoding_dict[camera]
    # stereo case
    if len(enc)==1:
        return [(1, [[id, enc[0]]])]
    # mono case
    out = []
    if enc[0] and enc[1] :
        out.append((1, [[id, 0], [id, 1]]))
    else:
        for j in range(2):
            if enc[j]:
                out.append((1, [[id, j]]))
            else:
                out.append((-1, [[id, 0], [id, 1]]))
    return out

In [141]:
# formulate qubo from photo request
def qubo_from_request(request, option):
    # get features
    id = request[0]
    value = request[1]
    mono = request[2]
    camera = request[3][option]

    # get indexing
    idx = index_from_camera(camera, id)

    # get qubos
    qubo = []
    for i in idx:
        rank = len(i[1])
        coeff = -value*i[0]
        indexes = i[1]
        qubo.append(list([rank, coeff, indexes]))

    return qubo

In [25]:
 # formulate qubo instance from constraint
def qubo_from_constraint(constraint, option, coeff):
    # get features
    ids = constraint[0]
    restriction = constraint[1][option]

    #print("ids: ",ids,"restriction: ",restriction)

    # compress idxs to a single idx
    idxs = []
    for i in range(len(restriction)):
        idxs.append(index_from_camera(restriction[i], ids[i]))
    ## number of resulting qubo terms
    while len(idxs)!=1:
        idxs_ = []
        print(idxs)
        for i in idxs[0]:
            print(i)
            for j in idxs[1]:
                print(j)
                idxs_.append((i[0]*j[0], i[1]+j[1]))
                print(idxs_)
        idxs = [idxs_] + idxs[2:]
        print(idxs)

    idx = idxs[0]
    
    # get qubo terms
    qubos = []    
    for i in idx:
        rank = len(i[1])
        print(i[0])
        coeff_ = coeff*i[0]
        indexes = i[1]
        qubos.append(list([rank, coeff_, indexes]))
    
    return qubos

In [26]:
qubo_from_constraint(constraints_df.loc[5], 1, 1)

[[(1, [[2, 0]]), (-1, [[2, 0], [2, 1]])], [(1, [[1, 0]]), (-1, [[1, 0], [1, 1]])]]
(1, [[2, 0]])
(1, [[1, 0]])
[(1, [[2, 0], [1, 0]])]
(-1, [[1, 0], [1, 1]])
[(1, [[2, 0], [1, 0]]), (-1, [[2, 0], [1, 0], [1, 1]])]
(-1, [[2, 0], [2, 1]])
(1, [[1, 0]])
[(1, [[2, 0], [1, 0]]), (-1, [[2, 0], [1, 0], [1, 1]]), (-1, [[2, 0], [2, 1], [1, 0]])]
(-1, [[1, 0], [1, 1]])
[(1, [[2, 0], [1, 0]]), (-1, [[2, 0], [1, 0], [1, 1]]), (-1, [[2, 0], [2, 1], [1, 0]]), (1, [[2, 0], [2, 1], [1, 0], [1, 1]])]
[[(1, [[2, 0], [1, 0]]), (-1, [[2, 0], [1, 0], [1, 1]]), (-1, [[2, 0], [2, 1], [1, 0]]), (1, [[2, 0], [2, 1], [1, 0], [1, 1]])]]
1
-1
-1
1

[[2, 1, [[2, 0], [1, 0]]],
 [3, -1, [[2, 0], [1, 0], [1, 1]]],
 [3, -1, [[2, 0], [2, 1], [1, 0]]],
 [4, 1, [[2, 0], [2, 1], [1, 0], [1, 1]]]]

In [143]:
k = 0

# populate qubo dataframe from photo requests
for i in range(len(photo_req_df)):
    l = len(photo_req_df.loc[i]['options'])
    for j in range(l):
        qubo_inst = qubo_from_request(photo_req_df.loc[i], j)
        for q in qubo_inst:
            qubo_df.loc[k] = q
            k = k + 1

# penalties coefficient
m = -1.1*min(qubo_df['coeff'])                                                                           

# populate qubo dataframe from constraints
for i in range(len(constraints_df)):
    l = len(constraints_df.loc[i]['restrictions'])
    for j in range(l):
        qubo_inst = qubo_from_constraint(constraints_df.loc[i], j, m)
        for q in qubo_inst:
            qubo_df.loc[k] = q
            k = k + 1

In [150]:
def preprocess_indexes(indexes, join=False):
    # sort if more than one element
    if len(indexes)>1:
        indexes = sorted(indexes, key=lambda x: x[0]+x[1]/10) # hardcoded solution to consider both sublists elements

    # produce string output
    proc_indexes = [str(i[0])+str(i[1]) for i in indexes ]
    return ''.join(proc_indexes) if join else proc_indexes
    
# produce hash column for dictionary indexing
qubo_df['keys'] = qubo_df['indexes'].apply(preprocess_indexes, join=False)

In [151]:
# produce 1 to one dict between keys of the dataframe and indexes of the qubo matrix
key_to_qubo_dict = {}
for i in range(len(qubo_df)):
    # check if index is a single key
    if len(qubo_df.loc[i]['keys'])==1:
        key_to_qubo_dict[qubo_df.loc[i]['keys'][0]] = i

In [152]:
key_to_qubo_dict

{'01': 1,
 '00': 2,
 '11': 6,
 '10': 7,
 '21': 11,
 '20': 12,
 '31': 16,
 '30': 17,
 '413': 20,
 '513': 21,
 '613': 22,
 '713': 23}

### Encoding module

In [404]:
# select encoding (standard, dense)
encoding = 'standard'

# get qubo df
qubo_df = qubo_from_data(photo_req_df, constraints_df, encoding)

In [28]:
qubo_df.tail(30)

    rank  coeff                           indexes
41     2    2.2                  [[2, 1], [0, 1]]
42     4    2.2  [[3, 0], [3, 1], [0, 0], [0, 1]]
43     2    2.2                  [[3, 0], [0, 0]]
44     3   -2.2          [[3, 0], [0, 0], [0, 1]]
45     3   -2.2          [[3, 0], [3, 1], [0, 0]]
46     4    2.2  [[3, 0], [3, 1], [0, 0], [0, 1]]
47     4    2.2  [[3, 0], [3, 1], [0, 0], [0, 1]]
48     3   -2.2          [[3, 0], [3, 1], [0, 1]]
49     3   -2.2          [[3, 1], [0, 0], [0, 1]]
50     2    2.2                  [[3, 1], [0, 1]]
51     2    2.2                [[5, 13], [4, 13]]
52     2    2.2                [[5, 13], [6, 13]]
53     4    2.2  [[2, 0], [2, 1], [1, 0], [1, 1]]
54     2    2.2                  [[2, 0], [1, 0]]
55     3   -2.2          [[2, 0], [1, 0], [1, 1]]
56     3   -2.2          [[2, 0], [2, 1], [1, 0]]
57     4    2.2  [[2, 0], [2, 1], [1, 0], [1, 1]]
58     4    2.2  [[2, 0], [2, 1], [1, 0], [1, 1]]
59     3   -2.2          [[2, 0], [2, 1], [1, 1]]
60     3   -2.2          [[2, 1], [1, 0], [1, 1]]
61     2    2.2                  [[2, 1], [1, 1]]
62     4    2.2  [[3, 0], [3, 1], [1, 0], [1, 1]]
63     2    2.2                  [[3, 0], [1, 0]]
64     3   -2.2          [[3, 0], [1, 0], [1, 1]]
65     3   -2.2          [[3, 0], [3, 1], [1, 0]]
66     4    2.2  [[3, 0], [3, 1], [1, 0], [1, 1]]
67     4    2.2  [[3, 0], [3, 1], [1, 0], [1, 1]]
68     3   -2.2          [[3, 0], [3, 1], [1, 1]]
69     3   -2.2          [[3, 1], [1, 0], [1, 1]]
70     2    2.2                  [[3, 1], [1, 1]]

In [411]:
# group terms with same indexing and sum coefficients
def preprocess_indexes(indexes, join=False):
    # sort if more than one element
    if len(indexes)>1:
        indexes = sorted(indexes, key=lambda x: x[0]+x[1]/10) # hardcoded solution to consider both sublists elements

    # produce string output
    proc_indexes = [str(i[0])+str(i[1]) for i in indexes ]
    return ''.join(proc_indexes) if join else proc_indexes

# group by operation needs string object
qubo_df['gb_indexes'] = qubo_df['indexes'].apply(preprocess_indexes, join=True)
qubo_df_ = qubo_df.groupby(['gb_indexes'], as_index=False, sort=False).agg({'rank': 'first', 'coeff': 'sum', 'indexes': 'first'}).drop(['gb_indexes'], axis=1)

# recover process indexes for qubo indexing
#qubo_df_['proc_indexes'] = qubo_df_['indexes'].apply(preprocess_indexes, join=False)

In [412]:
qubo_df_.tail(10)

    rank  coeff             indexes
35     2    2.2    [[3, 2], [0, 2]]
36     2    2.2    [[3, 1], [0, 1]]
37     2    2.2  [[5, 13], [4, 13]]
38     2    2.2  [[5, 13], [6, 13]]
39     2    2.2    [[2, 3], [1, 3]]
40     2    2.2    [[2, 2], [1, 2]]
41     2    2.2    [[2, 1], [1, 1]]
42     2    2.2    [[3, 3], [1, 3]]
43     2    2.2    [[3, 2], [1, 2]]
44     2    2.2    [[3, 1], [1, 1]]

In [413]:
# produce hash column for dictionary indexing
qubo_df_['keys'] = qubo_df_['indexes'].apply(preprocess_indexes, join=False)

In [414]:
# produce 1 to one dict between keys of the dataframe and indexes of the qubo matrix
key_to_qubo_dict = {}
j = 0
for i in range(len(qubo_df_)):
    # check if index is a single key
    if len(qubo_df_.loc[i]['keys'])==1:
        key_to_qubo_dict[qubo_df_.loc[i]['keys'][0]] = j
        j = j + 1

In [415]:
# add column with variable indexing
qubo_df_['variables'] = qubo_df_['keys'].apply(lambda k: [key_to_qubo_dict[k_i] for k_i in k])
qubo_df_ = qubo_df_.drop(['indexes', 'keys'], axis=1)
qubo_df_ ['variables'] = qubo_df_ ['variables'].apply(lambda x: np.array(x))

In [416]:
qubo_df_

    rank  coeff variables
0      1   -1.0       [0]
1      1   -1.0       [1]
2      1   -1.0       [2]
3      1   -1.0       [3]
4      1   -1.0       [4]
5      1   -1.0       [5]
6      1   -1.0       [6]
7      1   -1.0       [7]
8      1   -1.0       [8]
9      1   -1.0       [9]
10     1   -1.0      [10]
11     1   -1.0      [11]
12     1   -2.0      [12]
13     1   -2.0      [13]
14     1   -2.0      [14]
15     1   -2.0      [15]
16     2    2.2    [0, 1]
17     2    2.2    [0, 2]
18     2    2.2    [1, 2]
19     2    2.2    [3, 4]
20     2    2.2    [3, 5]
21     2    2.2    [4, 5]
22     2    2.2    [6, 7]
23     2    2.2    [6, 8]
24     2    2.2    [7, 8]
25     2    2.2   [9, 10]
26     2    2.2   [9, 11]
27     2    2.2  [10, 11]
28     2    2.2    [2, 5]
29     2    2.2    [1, 4]
30     2    2.2    [0, 3]
31     2    2.2    [2, 8]
32     2    2.2    [1, 7]
33     2    2.2    [0, 6]
34     2    2.2   [2, 11]
35     2    2.2   [1, 10]
36     2    2.2    [0, 9]
37     2    2.2  [12, 13]
38     2    2.2  [13, 14]
39     2    2.2    [5, 8]
40     2    2.2    [4, 7]
41     2    2.2    [3, 6]
42     2    2.2   [5, 11]
43     2    2.2   [4, 10]
44     2    2.2    [3, 9]

#### Higher order terms

##### Boros

In [362]:
# qubo to key dictionary
qubo_to_key_dict = {v: k for k, v in key_to_qubo_dict.items()}

In [363]:
## Boros algorithm to reduce higher order terms in quadratic ones

# set M = 1 + sum(|c_i|), m = n
M = sum(abs(qubo_df_['coeff']))+1
#print(M)
m = len(key_to_qubo_dict)
#print(m)

# while there exist a term with rank > 2 
while max(qubo_df_['rank'])>2:
    qubo = []
    # select an higher order term
    ho_term = np.array(qubo_df_[qubo_df_['rank']>2]['variables'])[0]
    #print(ho_term)

    # choose two elements from it 
    ij = ho_term[:2]
    #print(ij)

    # select terms with the two elements
    mask = [all(x in var for x in ij) for var in qubo_df_['variables']]
    ho_df = qubo_df_[mask]
    #print(ho_df)

    # update key_to_qubo_dict with the new variable
    key_to_qubo_dict[''.join([qubo_to_key_dict[v] for v in ij])] = m

    # update i,j term
    i = ho_df.index[ho_df['rank']==2].to_list()
    if len(i)!=0:
        #print("found bin term", i[0])
        #qubo_df_.loc[i[0], 'coeff'] = qubo_df_.loc[i[0], 'coeff'] + M
        #qubo_df_.loc[i[0], 'variables'] = np.array([m])
        qubo.append(list([2, qubo_df_.loc[i[0], 'coeff'] + M, np.array([v for v in ij])]))
        qubo_df_.drop(i[0], inplace=True)
        ho_df = ho_df.drop(i[0])
    else:
        qubo.append(list([2, M, np.array([v for v in ij])]))

    # create terms [i, m; j, m]
    qubo.append(list([2, -2*M, np.array([ij[0], m])]))
    qubo.append(list([2, -2*M, np.array([ij[1], m])]))

    # create term m
    qubo.append(list([1, 3*M, np.array([m])]))
    #print(qubo)

    # change variables where i,j appear to m
    for i in ho_df.index:
        #print(i)
        mask_ = np.array([var not in ij for var in qubo_df_.loc[i, 'variables']])
        #print(mask_)
        #print(qubo_df_.loc[i, "variables"])
        var = np.append(qubo_df_.loc[i, "variables"][mask_],[m])
        qubo.append(list([len(var), qubo_df_.loc[i, 'coeff'], var]))
        #qubo_df_.loc[i, 'variables'] = 
        #qubo_df_.loc[i, 'rank'] = len(qubo_df_.loc[i, 'variables'])
        qubo_df_.drop(i, inplace=True)

    # add new terms to qubo_df_
    #print(qubo)
    qubo_df_.reset_index(drop=True, inplace=True)
    #print(qubo_df_)
    l = len(qubo_df_)
    for i in range(len(qubo)):
        qubo_df_.loc[i+l] = qubo[i]

    # update m
    m = m + 1

In [367]:
qubo_df_

    rank  coeff variables
0      1   -1.0       [0]
1      1   -1.0       [1]
2      1   -1.0       [2]
3      1   -1.0       [3]
4      1   -1.0       [4]
..   ...    ...       ...
95     2 -248.8   [7, 25]
96     2 -248.8   [6, 25]
97     1  373.2      [25]
98     2    6.6  [12, 25]
99     2    6.6  [19, 25]

[100 rows x 3 columns]

In [369]:
# update qubo to key dictionary
qubo_to_key_dict = {v: k for k, v in key_to_qubo_dict.items()}

In [370]:
qubo_to_key_dict

{0: '01',
 1: '00',
 2: '11',
 3: '10',
 4: '21',
 5: '20',
 6: '31',
 7: '30',
 8: '413',
 9: '513',
 10: '613',
 11: '713',
 12: '0001',
 13: '0010',
 14: '0110',
 15: '0020',
 16: '0120',
 17: '0030',
 18: '0130',
 19: '1011',
 20: '1020',
 21: '1120',
 22: '1030',
 23: '1130',
 24: '2021',
 25: '3031'}

#### QUBO matrix

In [417]:
qubo_mat_df = qubo_df_

In [418]:
qubo_mat_df

    rank  coeff variables
0      1   -1.0       [0]
1      1   -1.0       [1]
2      1   -1.0       [2]
3      1   -1.0       [3]
4      1   -1.0       [4]
5      1   -1.0       [5]
6      1   -1.0       [6]
7      1   -1.0       [7]
8      1   -1.0       [8]
9      1   -1.0       [9]
10     1   -1.0      [10]
11     1   -1.0      [11]
12     1   -2.0      [12]
13     1   -2.0      [13]
14     1   -2.0      [14]
15     1   -2.0      [15]
16     2    2.2    [0, 1]
17     2    2.2    [0, 2]
18     2    2.2    [1, 2]
19     2    2.2    [3, 4]
20     2    2.2    [3, 5]
21     2    2.2    [4, 5]
22     2    2.2    [6, 7]
23     2    2.2    [6, 8]
24     2    2.2    [7, 8]
25     2    2.2   [9, 10]
26     2    2.2   [9, 11]
27     2    2.2  [10, 11]
28     2    2.2    [2, 5]
29     2    2.2    [1, 4]
30     2    2.2    [0, 3]
31     2    2.2    [2, 8]
32     2    2.2    [1, 7]
33     2    2.2    [0, 6]
34     2    2.2   [2, 11]
35     2    2.2   [1, 10]
36     2    2.2    [0, 9]
37     2    2.2  [12, 13]
38     2    2.2  [13, 14]
39     2    2.2    [5, 8]
40     2    2.2    [4, 7]
41     2    2.2    [3, 6]
42     2    2.2   [5, 11]
43     2    2.2   [4, 10]
44     2    2.2    [3, 9]

In [419]:
# populate qubo matrix dictionary
qubo = {}
for i in range(len(qubo_mat_df)):
    # check if index is a single var
    vars = qubo_mat_df.loc[i]['variables']
    if len(vars)==1:
        var = vars[0]
        qubo[(var, var)] = qubo_mat_df.loc[i]['coeff']
    else:
        qubo[(vars[0], vars[1])] =  qubo_mat_df.loc[i]['coeff']

In [420]:
# print qubo matrix
def print_qubo(qubo, key_to_qubo_dict):
    for i in range(len(key_to_qubo_dict)):
        for j in range(len(key_to_qubo_dict)):
            print(f'{qubo[(i, j)]:.1f}', end=' ') if (i,j) in qubo else print(f'%3.2f'%(0), end=' ')
        print()

print_qubo(qubo, key_to_qubo_dict)

-1.0 2.2 2.2 2.2 0.00 0.00 2.2 0.00 0.00 2.2 0.00 0.00 0.00 0.00 0.00 0.00
0.00 -1.0 2.2 0.00 2.2 0.00 0.00 2.2 0.00 0.00 2.2 0.00 0.00 0.00 0.00 0.00
0.00 0.00 -1.0 0.00 0.00 2.2 0.00 0.00 2.2 0.00 0.00 2.2 0.00 0.00 0.00 0.00
0.00 0.00 0.00 -1.0 2.2 2.2 2.2 0.00 0.00 2.2 0.00 0.00 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 -1.0 2.2 0.00 2.2 0.00 0.00 2.2 0.00 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 -1.0 0.00 0.00 2.2 0.00 0.00 2.2 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 -1.0 2.2 2.2 0.00 0.00 0.00 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 -1.0 2.2 0.00 0.00 0.00 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -1.0 0.00 0.00 0.00 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -1.0 2.2 2.2 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -1.0 2.2 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -1.0 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -2.0 2.2 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -2.0 2.2 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -2.0 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 -2.0

### Exact solver

In [421]:
# encode the dataframe into a qubo object
bqm = dimod.BQM.from_qubo(qubo)
# exact solver
sampler_exact = dimod.ExactSolver()
sampleset = sampler_exact.sample(bqm)

In [422]:
# save results in a dataframe
results_df = sampleset.to_pandas_dataframe()
# recover original indexes
qubo_to_key_dict = {v: k for k, v in key_to_qubo_dict.items()}
results_df.columns = [qubo_to_key_dict[q] for q in results_df.columns[:-2]]+['energy', 'num_occurrences']
# sort by energy
results_df = results_df.sort_values(by=['energy'], ascending=True)

In [423]:
results_df.head(10)

,01,02,03,11,12,13,21,22,23,31,32,33,413,513,613,713,energy,num_occurrences
37363,0,1,0,1,0,0,0,0,1,0,0,1,1,0,1,1,-10.0,1
39159,0,0,1,1,0,0,0,1,0,0,1,0,1,0,1,1,-10.0,1
40003,0,1,0,0,0,1,1,0,0,1,0,0,1,0,1,1,-10.0,1
39105,1,0,0,0,0,1,0,1,0,0,1,0,1,0,1,1,-10.0,1
37345,1,0,0,0,1,0,0,0,1,0,0,1,1,0,1,1,-10.0,1
40039,0,0,1,0,1,0,1,0,0,1,0,0,1,0,1,1,-10.0,1
39422,1,0,0,0,0,0,0,0,1,0,1,0,1,0,1,1,-9.0,1
36988,0,1,0,0,0,0,1,0,0,0,0,1,1,0,1,1,-9.0,1
40416,0,0,0,0,1,0,0,0,1,1,0,0,1,0,1,1,-9.0,1
39996,0,1,0,0,0,1,0,0,0,1,0,0,1,0,1,1,-9.0,1

In [424]:
results_df.loc[37363]

01                  0.0
02                  1.0
03                  0.0
11                  1.0
12                  0.0
13                  0.0
21                  0.0
22                  0.0
23                  1.0
31                  0.0
32                  0.0
33                  1.0
413                 1.0
513                 0.0
613                 1.0
713                 1.0
energy            -10.0
num_occurrences     1.0
Name: 37363, dtype: float64

In [ ]:
# TODO: - dense encoding DONE!
#       - wrap up encoding in a function DONE!
#       - take care of higher orders penalties (Boros DONE!) (Ishikawa TODO!)
#       - 3 terms costraints
#       - look into bigger files